<section class="my-5 container">
    {{myForm.valid}}
    <form #myForm = "ngForm" (ngSubmit)="handleSubmit(myForm)">
        <input type="name" name="name" class="form-control my-3" required ngModel #name="ngModel">
        
        <input name="email" class="form-control my-3" ngModel>
        
        <input type="password" name="password" class="form-control my-3" ngModel>
        <input type="number" name="phone" class="form-control my-3" ngModel>
        <input  name="addresses" class="form-control my-3" ngModel>
        <input type="gender" name="gender" class="form-control my-3" ngModel>
        <input name="frelancer" class="form-control my-3" ngModel>
         
        
        <button class="btn btn-primary"  >add</button>
        
        
    </form>
</section>
